Deloitte_Demo/src/main/app/orquestation/accountTransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  
    
    <flow name="accountTransformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_Transf" path="/accounts" doc:name="HTTP" allowedMethods="GET, POST"/>
        <set-property propertyName="http.method" value="#[flowVars['method.override']]" doc:name="Property"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/services/accounts" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="accountByIdTransformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_Transf" path="/accounts/{id}" doc:name="HTTP" allowedMethods="GET, POST"/>
         <set-variable variableName="idacct" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <set-property propertyName="http.method" value="#[flowVars['method.override']]" doc:name="Property"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/services/accounts/{idacct}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="idacct" value="#[flowVars.idacct]"/>
            </http:request-builder>
        </http:request>
        
    </flow>
</mule>
