Deloitte_Demo/src/main/app/system/productByIdService.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
   
    <flow name="getProductByIdService">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/products/{id}" doc:name="HTTP" allowedMethods="GET"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="id"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT CreatedDate,Description,Name,ProductCode FROM Product2 WHERE ProductCode = '#[flowVars.id]'" doc:name="Salesforce"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="eee7d27c-a6f0-4cab-8ab6-8c4664628fec">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	productCode: payload01.ProductCode,
	name: payload01.Name,
	CreatedDate: payload01.CreatedDate as :string,
	description: payload01.Description
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
